div(style={'position':'relative',top:'0px'})
	div.page-header(style={ 'margin-top':'0px !important','padding-bottom':'0px'})
		h1(style={'font-size':'25px'}) Cambia tu contraseña
	.col-lg-12
		p.text-center Introduzca la nueva contraseña, repítela y dale al botón 'Cambiar contraseña' para actualizar la nueva contraseña
	br
div(style={margin:'auto', height:'75%'}).well.centrado
	div(style={'position':'relative', height:'100%', top:'35%'})
		form(action="/app/reset/#{json.token}" method="POST")
			fieldset
				.form-group.col-lg-6(style={'margin':'0 auto'})
					.input-group
						span.input-group-addon
							i.glyphicon.glyphicon-lock
						input.form-control(required='', name='password', type='password', placeholder='********')
				.form-group.col-lg-6(style={'margin':'0 auto'})
					.input-group
						span.input-group-addon
							i.glyphicon.glyphicon-lock
						input.form-control(required='', name='passwordRepeat', type='password', placeholder='********')
				.form-group.col-lg-12(style={'margin':'0 auto'})
					label.control-label(for='forgotPassChange')
					.controls.input-group
						span.input-group-addon(style={color:'#38B44A !important'})
							i.glyphicon.glyphicon-send
						button#signin.btn.btn-success(name='forgotPassChange' style={width:'100%','border-top-left-radius':'0px','border-bottom-left-radius':'0px'})
							|  Cambiar contraseña