div(style={'background' : '#ffbb00'})
  div.body
    div.page-header
      div(style={height: '500px', 'background-image' : "url('http://i2.wp.com/elmeridiano.es/wp-content/uploads/2015/01/torrentbus_torrent.jpg?resize=5056%2C3200')", 'border-radius' : '10px', 'text-align' : 'center', 'background-size' : 'cover'})
        h1 #{title}
