nav#menuapp(style={'width':'100%', 'margin':'0 auto', 'border-radius':'0 0 0 0', 'z-index':'10000', border:'0px'} role='navigation').navbar.navbar-default
	div.container-fluid(style={'padding-right':'0px'})
		div.navbar-header
			button(type='button' data-toggle='collapse' data-target="#bs-example-navbar-collapse-1" aria-expanded = 'false').navbar-toggle.collapsed
				span.sr-only
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a(href='/app' style={display:'flex'}).navbar-brand informaTorrent!
		#bs-example-navbar-collapse-1.collapse.navbar-collapse(style={'padding-right':'0px'})
			ul.nav.navbar-nav
				li
					a.centrado(href="/app/denuncias?page=1#scroll") Últimas denuncias
				li
					a.centrado Visor de denuncias
			ul.nav.navbar-nav.navbar-right(style={'margin-right':'0px'})
				if (user)
					li.dropdown
						a(data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false").dropdown-toggle.centrado
							if(user.profile.username != '')
								img(src="#{user.profile.picture}" style={'max-width' : '25px', 'max-height' : '25px','float' : 'left', 'margin-right':'5px'}).img-circle
								div.psuspensivos #{user.profile.username}
							span.caret
						ul.dropdown-menu
							li
								a(href="/app/profile#scroll") Mis denuncias
							li
								a(href="/app/denuncias/nueva#scroll") Nueva Denuncia
							li(role='separator').divider
							li
								a(href="/app/logout") Salir
				else
					li.dropdown
						a(data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false").dropdown-toggle.centrado Iniciar Sesión
							span(style={'margin-left':'5px'}).caret
						ul#dpdown.dropdown-menu(style={width:'800px !important'})
							#sign.portlet
								.portlet-title
									.caption.caption-red
										i.glyphicon.glyphicon-pushpin
										span.caption-subject.bold.font-yellow-crusta.uppercase informaTorrent! 
										span.caption-helper  Menú de acceso
									ul(style={'width':'30%'})#myTab.nav.nav-tabs
										li(style={'width':'33%'}).active
											a(href='#signin', data-toggle='tab' style={'text-align':'center'})
												i(data-toggle='tooltip' data-placement='top' title='Iniciar Sesión').glyphicon.glyphicon-off
										li(style={'width':'33%'})
											a(href='#signup', data-toggle='tab' style={'text-align':'center'})
												i(data-toggle='tooltip' data-placement='top' title='Registrar Nuevo Usuario').glyphicon.glyphicon-user
										li(style={'width':'33%'})
											a(href='#forgot', data-toggle='tab' style={'text-align':'center'})
												i(data-toggle='tooltip' data-placement='top' title='¿Olvidaste tu contraseña?').glyphicon.glyphicon-lock
								div(style={'height':'420px'}).portlet-body.centrado
									div(style={'float':'left', 'height':'100%', 'width':'30%','margin-right':'15px', 'background':'url(/images/logo-ayunt.png)','background-position':'center center','background-repeat': 'no-repeat'}).centrado
										p.final Ajuntament de Torrent
									div(style={'width':'70%','height':'100%', position:'relative', top:'5px'}).tab-content.centrado
										
										div(style={'max-width':'100%','height':'100%'})#forgot.tab-pane.fade.in
											div(style={'position':'relative',top:'0px',height:'20%'})
												div.page-header(style={ 'margin-top':'0px !important',height:'5%', 'margin-top':'0%','padding-bottom':'5%'})
													h1(style={'font-size':'15px'}) ¿Olvidaste tus credenciales?
													br
												.col-lg-12
													p.text-center Introduzca el e-mail que usaste para crear tu cuenta. Te llegará un e-mail para recuperar tu contraseña.
											div(style={'position':'relative',top:'0px',height:'70%'}).well.centrado
												div(style={'position':'relative', height:'100%', top:'35%'})
													form(action="/app/forgot" method="POST").form-horizontal
														fieldset
															//email
															.form-group.col-lg-12(style={'margin':'0 auto'})
																.input-group
																	span.input-group-addon
																		i.glyphicon.glyphicon-user
																	input.form-control(name='email', type='text', placeholder='michaelScofield@ejemplo.com', required='')
															br
															br
															br
															.form-group.col-lg-12(style={'margin':'0 auto'})
																.controls.input-group
																	span.input-group-addon(style={color:'#38B44A !important'})
																		i.glyphicon.glyphicon-send
																	button#enviaremailpass.btn.btn-success(name='enviaremailpass', style={width:'100%','border-top-left-radius':'0px','border-bottom-left-radius':'0px'}) Enviar e-mail
										div(style={'max-width':'100%', height:'100%'})#signin.tab-pane.fade.active.in
											div(style={'position':'relative',top:'0px',height:'20%'})
												div.page-header(style={ 'margin-top':'0px !important',height:'5%', 'margin-top':'0%','padding-bottom':'5%'})
													h1(style={'font-size':'15px'}) Iniciar sesión
												.col-lg-12
													p Inicia Sesión con tu cuenta de usuario en informaTorrent!
														| Si tienes linqueada en tu cuenta local una cuenta de Twitter o Facebook,
														| puedes acceder a tu cuenta utilzando tus cuentas en las redes sociales asociadas.
											div(style={'position':'relative',top:'0px',height:'65%'}).well.centrado
												form(action="/app/login" method="post").form-horizontal
													fieldset
														.form-group.col-lg-6(style={'margin':'0 auto'})
															.controls.input-group
																span.input-group-addon(style={color:'#00bbff !important'})
																	i.glyphicon.glyphicon-user
																input#userid.form-control(required='', name='email', type='text', placeholder='michaelScofield@ejemplo.com')
														// Password input
														.form-group.col-lg-6(style={'margin':'0 auto'})
															.controls.input-group
																span.input-group-addon(style={color:'#ffbb00 !important'})
																	i.glyphicon.glyphicon-lock
																input#passwordinput.form-control(required='', name='password', type='password', placeholder='********')
														// Button
														.form-group.col-lg-12(style={'margin':'0 auto'})
															label.control-label(for='signin')
															.controls.input-group
																span.input-group-addon(style={color:'#38B44A !important'})
																	i.glyphicon.glyphicon-off
																button#signin.btn.btn-success(name='signin' style={width:'100%','border-top-left-radius':'0px','border-bottom-left-radius':'0px'})
																	|  Iniciar Sesión
															br
															br
															p.hrstyle O también puedes
															br
															form-group.col-lg-6(style={'margin':'0 auto','padding-left':'5px'})
																a(href="/app/auth/twitter").btn.btn-block.btn-social.btn-twitter
																	i.fa.fa-twitter
																	| Acceder con Twitter
															form-group.col-lg-6(style={'margin':'0 auto','padding-right':'5px'})
																a(href="/app/auth/facebook").btn.btn-block.btn-social.btn-facebook
																	i.fa.fa-facebook
																	| Acceder con Facebook
															br
										div(style={'max-width':'100%'})#signup.tab-pane.fade
											div(style={'position':'relative',top:'0px',height:'20%'})
												div.page-header(style={ 'margin-top':'0px !important',height:'5%', 'margin-top':'0%','padding-bottom':'0px'})
													h1(style={'font-size':'15px'}) Crear nuevo Usuario
												.col-lg-12
													p.text-center Crea una cuenta en informaTorrent! y empieza a utilizar la app YA!
													p.text-center Empieza a contribuir a la mejora de Torrent.
												br
											div(style={'position':'relative',top:'0px',height:'80%'}).well.centrado
												form(action="/app/signup" method="post").form-horizontal
													fieldset
														//email
														.form-group.col-lg-6(style={'margin':'0 auto'})
															label.control-label(for='email') Email:
															input.form-control(name='email', type='text', placeholder='michaelScofield@ejemplo.com', required='')
														//username
														.form-group.col-lg-6(style={'margin':'0 auto'})
															label.control-label(for='username') Nombre de usuario:
															input.form-control(name='username', type='text', placeholder='Michael Scofield', required='')                  
														//nombre
														.form-group.col-lg-6(style={'margin':'0 auto'})
															label.control-label(for='name') Nombre:
															input.form-control(name='name', type='text', placeholder='Michael', required='')
														//apellidos
														.form-group.col-lg-6(style={'margin':'0 auto'})
															label.control-label(for='surname') Apellidos:
															input.form-control(name='surname', type='text', placeholder='Scofield', required='')                  
														// contraseña
														.form-group.col-lg-6(style={'margin':'0 auto'})
															label.control-label(for='password') Contraseña:
															.controls
																input.form-control(name='password', type='password', placeholder='********', required='')
																em 5-20 Caracteres
														// repetir contraseña
														.form-group.col-lg-6(style={'margin':'0 auto'})
															label.control-label(for='repassword') Vuelva a escribir la contraseña:
															.controls
																input.form-control(name='repassword', type='password', placeholder='********', required='') 
														.form-group.col-lg-12(style={'margin':'0 auto'})
															label.control-label(for='confirmsignup')
															.controls.input-group
																span.input-group-addon(style={color:'#38B44A !important'})
																	i.glyphicon.glyphicon-user
																button#confirmsignup.btn.btn-success(name='confirmsignup' style={'width':'100%','border-top-left-radius':'0px','border-bottom-left-radius':'0px'})
																	|  Registrar