div(style={'position':'relative',top:'0px'})
	div.page-header(style={ 'margin-top':'0px !important','padding-bottom':'0px'})
		h1(style={'font-size':'25px', color: '#00bbff'}) CREAR NUEVO USUARIO
	.col-lg-12(style={background: 'rgba(0,50,200, 0.3)', 'margin-bottom' : '20px'})
		p(style={color:'#fff'}).text-center Crea una cuenta en informaTorrent! y empieza a utilizar la app YA!
		p(style={color:'#fff'}).text-center Empieza a contribuir a la mejora de Torrent.
	br
div(style={'position':'relative',top:'0px',height:'65%', background:'rgba(200,50,0,0.3)', border:'none', 'border-radius':'none'}).well.centrado
	form(action="/app/signup" method="post").form-horizontal
		fieldset
			//email
			.form-group.col-lg-6(style={'margin':'0 auto'})
				label.control-label(for='email') Email:
				input.form-control(name='email', type='text', placeholder='michaelScofield@ejemplo.com', required='')
			//username
			.form-group.col-lg-6(style={'margin':'0 auto'})
				label.control-label(for='username') Nombre de usuario:
				input.form-control(name='username', type='text', placeholder='Michael Scofield', required='')                  
			//nombre
			.form-group.col-lg-6(style={'margin':'0 auto'})
				label.control-label(for='name') Nombre:
				input.form-control(name='name', type='text', placeholder='Michael', required='')
			//apellidos
			.form-group.col-lg-6(style={'margin':'0 auto'})
				label.control-label(for='surname') Apellidos:
				input.form-control(name='surname', type='text', placeholder='Scofield', required='')                  
			// contrase単a
			.form-group.col-lg-6(style={'margin':'0 auto'})
				label.control-label(for='password') Contrase単a:
				.controls
					input.form-control(name='password', type='password', placeholder='********', required='')
					em 5-20 Caracteres
			// repetir contrase単a
			.form-group.col-lg-6(style={'margin':'0 auto'})
				label.control-label(for='repassword') Vuelva a escribir la contrase単a:
				.controls
					input.form-control(name='repassword', type='password', placeholder='********', required='')

			.form-group.col-lg-12(style={'margin':'0 auto'})
				label.control-label(for='confirmsignup')
				.controls.input-group
					span.input-group-addon(style={color:'#38B44A !important'})
						i.glyphicon.glyphicon-user
					button#confirmsignup.btn.btn-success(name='confirmsignup' style={'width':'100%','border-top-left-radius':'0px','border-bottom-left-radius':'0px'})
						|  Registrar