extends map-layout

// block script
block script
	script(src="/javascripts/openlayers/ol_loc_pref.js")
	script.
		//alert(!{loc_pref}.coordinates);
		
		map.addControl(new app.Draw_(false, true));
		
		if('!{loc_pref}' != ''){
			feature = new ol.Feature({
				geometry: new ol.geom.Point(!{loc_pref}.coordinates),
				name: 'Ubicación Preferida'
			});
			
			vectorSource.addFeature(feature);
		}