extends layout.jade
block script
	script(type='text/javascript').
block content
	include ./includes/signin.jade
	div.container(style={'margin-bottom': '100px'})
		if login
			include ./includes/login.jade
		else if signup
			include ./includes/signup.jade
		else if forgot
			include ./includes/forgot.jade
		else if change
			include ./includes/changePass.jade
		div(style={ margin:'0 auto', 'border-bottom': '1px solid #ffbb00 !important'}).page-header
			h1(style={color: '#00bbff'}) ¿Para que sirve esta aplicación?
		div(style={ padding:'0px', width:'100%',color:'#fff'}).container
			.col-md-4.centerCol(style={'margin-top':'20px', background:'rgba(0,50,200, 0.3)', padding:'10px'})
				| ¿Has encontrado por Torrent algo que te incomoda?
				br
				| No dudes en utilizar esta aplicación para mostrárselo a Torrent.
				| Rellenando un simple formulario podrás mostrar de forma detallada
				| la información de tu denuncia.
			.col-md-4.centerCol(style={'margin-top':'20px', background:'rgba(0,50,200, 0.3)', padding:'10px'})
				| Tu denuncia será  vista por los usuarios de Informa Torrent
				| y tendrá una repercusión. Los usuarios podrán apoyar tu denuncia,
				| comentarla y compartirla en las redes sociales.
			.col-md-4.centerCol(style={'margin-top':'20px', background:'rgba(0,50,200, 0.3)', padding:'10px'})
				| Informa Torrent busca hacer un mundo más justo y organizado
				| de forma que los ciudadanos tengan una vía rápida de expresar
				| su malestar. Se pide a los usuarios no usar esta aplicación 
				| de manera malintencionada.
