body(style={'background':'#ffbb00'})
	div.body
		script(type='text/javascript').
			$(function() { $(' #da-thumbs > li ').each( function() { $(this).hoverdir(); });});
		div.page-header
			h1(style={'	border-top-right-radius' : '10px'}) #{title}
			p.subheader #{subtitle}
			section(style={'width':'100%', 'background':'url(http://esphoto980x880noname.mnstatic.com/edeec77a18e21fd9b8cf81ee26f1468c)'}).bottomborder
