extends map-layout
// block link
block link
	link(rel="stylesheet" href='//cdnjs.cloudflare.com/ajax/libs/dropzone/3.8.4/css/dropzone.css')
	link(rel="stylesheet" href="/javascripts/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css")
	style.
		.bootstrap-tagsinput {
		    width: 100%;
		}
		.label {
		    line-height: 2 !important;
		}
	// CSS DROPZONE
// block script
block script
	// TAGS
	script(src="/javascripts/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.js")
	// TinyMCE Editor
	script(src="//cdn.tinymce.com/4/tinymce.min.js")
	script(src='http://cdnjs.cloudflare.com/ajax/libs/dropzone/3.8.4/dropzone.min.js')
	// JS DROPZONE
	script(src="/javascripts/upload.js")
	// INTERACCIONES MAPA DIBUJAR ...
	script(src="/javascripts/openlayers/olnueva.js")
	// JS CONFIG SUBIR IMÁGENES
	script(type="text/javascript").
		map.addControl(new app.Lateral({titulo: 'Añadir nueva denuncia'}));
		map.addControl(new app.Draw());
		var random = '#{random}';
		alert(random);