extends map-layout
// block link
block link
	link(rel="stylesheet" href='//cdnjs.cloudflare.com/ajax/libs/dropzone/3.8.4/css/dropzone.css')
	link(rel="stylesheet" href="https://raw.githubusercontent.com/maxwells/bootstrap-tags/master/dist/css/bootstrap-tags.css")
	style.
		.bootstrap-tagsinput {
		    width: 100%;
		}
		.label {
		    line-height: 2 !important;
		}
	// CSS DROPZONE
// Botones mapa
block botonesmapa
	button#dibujar.btn.btn-small.btn-info.btn-map(type='button', style='position: absolute; right: 0.5em; bottom: 40%; min-width: 1.375em')
		i.fa.fa-pencil
	button#rellenar.btn.btn-small.btn-info.btn-map.cd-btn(type='button', style='position: absolute; right: 0.5em; bottom: 50%; min-width: 1.375em')
		i.fa.fa-list-alt
	#menu-dibujar
		button#eliminar.btn.btn-small.btn-warning.btn-map(type='button', style='position: absolute; right: 4.3em; bottom: 50%; min-width: 1.375em')
			i.fa.fa-trash
		button#editar.btn.btn-small.btn-warning.btn-map(type='button', style='position: absolute; right: 4.3em; bottom: 40%; min-width: 1.375em')
			i.fa.fa-pencil-square-o
		button#punto.btn.btn-small.btn-warning.btn-map(type='button', style='position: absolute; right: 4.3em; bottom: 30%; min-width: 1.375em')
			img.img-responsive(src="http://www.fontsaddict.com/images/icons/png/15253.png" style="max-width: 1.375em; min-width: 1.375em; max-height: 1em")
		button#linea.btn.btn-small.btn-warning.btn-map(type='button', style='position: absolute; right: 4.3em; bottom: 20%; min-width: 1.375em')
			img.img-responsive(src="http://www.clker.com/cliparts/3/d/6/b/11949947211019452702polyline.svg.hi.png" style="max-width: 1.375em; min-width: 1.375em; max-height: 1em")
		button#poligono.btn.btn-small.btn-warning.btn-map(type='button', style='position: absolute; right: 4.3em; bottom: 10%; min-width: 1.375em')
			img.img-responsive(src="http://uxrepo.com/static/icon-sets/windows/svg/vector-polygon.svg" style="max-width: 1.375em; min-width: 1.375em; max-height: 1em")
// Panel lateral - rellenar denuncia
block panel-lateral
	.cd-panel.from-right
		header.cd-panel-header
			h1(style="margin-top: 2%; color: #55ACEE !important; font-size: 20px;") NUEVA DENUNCIA
			a.cd-panel-close(href='#0') Close
		.cd-panel-container
			.cd-panel-content 
				form.form-horizontal
					.input-group(style={'margin-top':'5px'})
						span.input-group-addon Título
						input#titulo.form-control.btn-default(type='text', name="titulo", placeholder='Añade un título')
					.space
					h4 Añade una descripción
					textarea#contenido(name="contenido" rows='3' style={'height':'300px'}).form-control
					.space
					h4 Imágenes
					div(id="file-dropzone" style={background:'#55ACEE', border:'1px dashed'})
						.dz-message.text-center(style={color:'#fff'}) Arrastra imágenes o haz click aquí.
					.space
					h4 Tags
					.col-lg-12.form-control.btn-default(id="tags" type="text" name="tags" placeholder="Introduce tags" data-role="tagsinput")
					.space
					.col-lg-12
						.input-group(style={'margin-top':'5px', 'margin-bottom':'15px'})
							span.input-group-addon
								i.fa.fa-send.fa-fw
							input#submitDenuncia.form-control.btn-success(type="button", value="Denunciar")
// block script
block script
	script.
		var tagElement;
	// TAGS
	script(src="https://raw.githubusercontent.com/maxwells/bootstrap-tags/master/dist/js/bootstrap-tags.min.js")
	// TinyMCE Editor
	script(src="//cdn.tinymce.com/4/tinymce.min.js")
	script(src='http://cdnjs.cloudflare.com/ajax/libs/dropzone/3.8.4/dropzone.min.js')
	// JS DROPZONE
	script(src="/javascripts/upload.js")
	// INTERACCIONES MAPA DIBUJAR ...
	script(src="/javascripts/openlayers/olnueva.js")
	// JS CONFIG SUBIR IMÁGENES
	script(type="text/javascript").
		$(function(){
			// TAGS
			tagElement = $('#tags').tags({
		        suggestions:["basura", "malOlor"],
		        excludeList:[" ", "#", "words"]
		    });
			// Inicio del plugin wyswyg tinymce Editor
			tinymce.init({
				selector: 'textarea',
				plugins: ['advlist autolink link lists charmap print preview hr anchor pagebreak',
				'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
				'save table contextmenu directionality emoticons template paste textcolor'],
				theme: 'modern',
				language_url: '/langs/es.js',
				min_width: 300,
				resize: false
			});
			
			// Mostrar menú rellenar denuncia al iniciar
			$('.cd-btn').trigger('click');
			
			// Mostrar menú dibujar geometría
			$('#menu-dibujar').slideUp();
			$('#dibujar').click(function(event){
				if($('#menu-dibujar').css('display') != 'none'){
					$('#menu-dibujar').slideUp();
				}
				else $('#menu-dibujar').slideDown();
			});
		
		});