extends map-layout
block script
	script(src="https://cdn.socket.io/socket.io-1.3.7.js")
	script.
		var denuncias = !{denuncias};
	
		var wktFormat = new ol.format.WKT();
	
		num_denuncias_io.on('new_denuncia', function(data){
			var denuncia = data.denuncia;
			console.log('denuncia añadida socket.io');
		
			vector.getSource().addFeature(wktFormat.readFeature(denuncia.wkt));
		});
	script(src="/javascripts/openlayers/olvisorapp.js")