extends ../base/map_layout

// block script
block script
	script.
		//alert(typeof(JSON.parse('!{JSON.stringify(loc_pref)}').coordinates));
		
		map.addControl(new app.Draw(false, true));
		
		if('!{location_pref}' != ''){
			feature = new ol.Feature({
				geometry: new ol.geom.Point(JSON.parse('!{JSON.stringify(location_pref)}').coordinates),
				name: 'Ubicación Preferida'
			});
			
			map.getControls().forEach(function(c){
				if (c instanceof app.Draw) c.getSource().addFeature(feature);
			});
		}