extends ../base/map_layout
block link
	link(rel="stylesheet" href="/javascripts/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css")
block script
	script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/js/bootstrap-datepicker.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/locales/bootstrap-datepicker.es.min.js")
	script(src="/javascripts/plugins/OL3-AnimatedCluster/layer/animatedclusterlayer.js")
	script(src="/javascripts/plugins/OL3-AnimatedCluster/interaction/selectclusterinteraction.js")
	script(src='/javascripts/plugins/ol3-ext/style/photostyle.js')
	
	script(src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.jquery.js")
	script(src="http://twitter.github.io/typeahead.js/releases/latest/bloodhound.js")
	script(src="/javascripts/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.js")
	script.
		window.document.title += ' - Visor de denuncias';
		var dialog_;
		var denuncias = JSON.parse('!{JSON.stringify(denuncias)}');
	
		var wktFormat = new ol.format.WKT({dataProjection: 'EPSG:4258'});
		
		map.addControl(new app.QueryDenuncias());
		map.addControl(new app.TrackingDenunciasCerca());
		
		num_denuncias_io.on('new_denuncia', function(data){
			var denuncia = data.denuncia;
			console.log('denuncia añadida socket.io');
			
			var feature = wktFormat.readFeature(denuncia.wkt);
		    var centro = ol.extent.getCenter(feature.getGeometry().getExtent());
		    centro[1] += 0.00001;
		    feature_marker = new ol.Feature({
		    	geometry : new ol.geom.Point(centro),
		    	name : 'Denuncia Marker'
		    });

			denuncia.tipo = denuncia.wkt.match(/POLYGON/g) ? 'Polygon' : (denuncia.wkt.match('/LINESTRING/g') ? 'LineString' : 'Point');
			denuncia.coordenadas = feature.getGeometry().getCoordinates();

			feature.attributes = {
				type : 'denuncia',
				denuncia: denuncia
			};
			feature_marker.attributes = {
				type : 'marker',
				marker_type : 'nueva',
				denuncia: denuncia
			};

			features_cache[denuncia.gid] = feature;
			clusterSource.getSource().addFeature(feature_marker);
			
		});
		
		ayuda_visor_app();

	script(src="/javascripts/openlayers/olvisorapp.js")